.elevation-container,
.text-container,
.outlined-container,
.filled-container {
    border: none;
    height: 40px;
    padding: 0 24px 0 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.elevation-container [icon],
.text-container [icon],
.outlined-container [icon],
.filled-container [icon],
.fab-large-container [icon],
.fab-small-container [icon],
.fab-container [icon],
.fab-extended-container [icon]{

    display: flex;
    align-items: center;
    justify-content: center;
}

.elevation-container [text],
.text-container [text],
.outlined-container [text],
.filled-container [text],
.fab-large-container [text],
.fab-small-container [text],
.fab-container [text],
.fab-extended-container [text]{
    font-family: var(--label-large-font-family-name);
    font-style: var(--label-large-font-family-style);
    font-weight: var(--label-large-font-weight);
    font-size: var(--label-large-font-size);
    letter-spacing: var(--label-large-tracking);
    line-height: var(--label-large-height);
    text-transform: var(--label-large-text-transform);
    text-decoration: var(--label-large-text-decoration);
}


/* elevation button */
.elevation-container {
    border-radius: var(--shape-corner-full);
    box-shadow: var(--elevation-1);
    background-color: var(--surface-high);
}

.elevation-container [text] {
    text-transform: capitalize;
    color: var(--on-surface);
}

.elevation-container [icon] {
    font-size: 18px;
    background-color: var(--surface-high);
    color: var(--on-surface);
}

.elevation-container:disabled {
    color: var(--on-surface);
    opacity: 0.12;
    box-shadow: var(--elevation-0);
}

.elevation-container [text]:disabled,
.elevation-container [icon]:disabled {
    color: var(--on-surface);
    opacity: 0.38;
}

.elevation-container:hover:not(:disabled),
.elevation-container:focus:not(:disabled) {
    box-shadow: var(--elevation-2);
}

.elevation-container [text]:hover,
.elevation-container [text]:focus {
    background-color: var(--surface-high);
}

.elevation-container [icon]:hover,
.elevation-container [icon]:focus {
    background-color: var(--surface-high);
}


/* text button */
.text-container {
    border-radius: var(--shape-corner-full);
    background-color: transparent;
}

.text-container [text] {
    color: var(--primary);
}

.text-container [icon] {
    font-size: 18px;
    color: var(--primary);
}

.text-container:disabled {
    color: var(--on-surface);
    opacity: 0.12;
    box-shadow: var(--elevation-0);
}

.text-container [text]:disabled,
.text-container [icon]:disabled {
    color: var(--on-surface);
    opacity: 0.38;
}

.text-container:hover:not(:disabled),
.text-container:focus:not(:disabled) {
    box-shadow: var(--elevation-1);
}

.text-container [text]:hover,
.text-container [text]:focus {
    color: var(--primary);
}

.text-container [icon]:hover,
.text-container [icon]:focus {
    color: var(--primary);
}

/* outlined button */
.outlined-container {
    border-radius: var(--shape-corner-full);
    box-shadow: var(--elevation-0);
    background-color: transparent;
    outline: 1px var(--primary) solid;
}

.outlined-container [text] {
    color: var(--primary);
}

.outlined-container [icon] {
    font-size: 18px;
    color: var(--primary);
}

.outlined-container:disabled {
    color: var(--on-surface);
    opacity: 0.12;
    box-shadow: var(--elevation-0);
}

.outlined-container [text]:disabled,
.outlined-container [icon]:disabled {
    color: var(--on-surface);
    opacity: 0.38;
}

.outlined-container:hover:not(:disabled),
.outlined-container:focus:not(:disabled) {
    box-shadow: var(--elevation-1);
}

.outlined-container [text]:hover,
.outlined-container [text]:focus {
    color: var(--primary);
}

.outlined-container [icon]:hover,
.outlined-container [icon]:focus {
    color: var(--primary);
}

/* filled button */
.filled-container {
    border-radius: var(--shape-corner-full);
    box-shadow: var(--elevation-0);
    background-color: var(--primary);
}

.filled-container [text] {
    color: var(--on-primary);
}

.filled-container [icon] {
    font-size: 18px;
    color: var(--on-primary);
}

.filled-container:disabled {
    color: var(--on-surface);
    opacity: 0.12;
    box-shadow: var(--elevation-0);
}

.filled-container [text]:disabled,
.filled-container [icon]:disabled {
    color: var(--on-surface);
    opacity: 0.38;
}

.filled-container:hover:not(:disabled),
.filled-container:focus:not(:disabled) {
    box-shadow: var(--elevation-1);
}

.filled-container [text]:hover,
.filled-container [text]:focus {
    color: var(--on-primary);
}

.filled-container [icon]:hover,
.filled-container [icon]:focus {
    color: var(--on-primary);
}

/* Fab */

.fab-large-container,
.fab-container,
.fab-small-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: var(--elevation-1);
    background-color: var(--secondary);
    padding: 16px;
}

.fab-small-container{
    width: 40px;
    height: 40px;
    border-radius: var(--shape-corner-medium);
}

.fab-container{
    width: 56px;
    height: 56px;
    border-radius: var(--shape-corner-large);

}

.fab-large-container{
    width: 96px;
    height: 96px;
    border-radius: var(--shape-corner-extra-large);
}

.fab-container [icon],
.fab-small-container [icon],
.fab-large-container [icon]{
    color: var(--on-secondary);
}

.fab-container [icon],
.fab-small-container [icon]{
    font-size: 24px;
}

.fab-large-container [icon]{
    font-size: 36px;
}

.fab-extended-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    box-shadow: var(--elevation-1);
    background-color: var(--surface-container-high);
    padding: 16px;
    min-width: 80px;
    height: 56px;
    border-radius: var(--shape-corner-large);
}

.fab-extended-container [icon],
.fab-extended-container [text]{
    color: var(--on-surface);
}

.fab-extended-container [icon]{
    font-size: 24px;
}

.fab-extended-container:hover:not(:disabled),
.fab-extended-container:focus:not(:disabled){
    box-shadow: var(--elevation-2);
    background-color: var(--surface-container);
}

.fab-extended-container [icon]:hover:not(:disabled),
.fab-extended-container [text]:hover:not(:disabled){
    color: var(--on-surface);
}